@page "/change-password"
@inject BikeSparesInventorySystem.Data.Services.AuthService _authService
@inject Microsoft.AspNetCore.Components.NavigationManager _navigationManager

<nav class="navbar navbar-light bg-light">
    <h1 class="navbar-brand mb-0 h1">Change Password</h1>
</nav>
<div class="form-body">
    <div class="form-container">
        @if (_authService.CurrentUser.HasInitialPassword)
        {
                <AlertMessage Type="warning" Message="You are using the initial password. Please change it." />
        }
        <form class="text-center" @onsubmit="ChangePasswordHandler">
            <div class="form-floating">
                <input type="password" class="form-control current-password" @bind="_currentPassword"
                    placeholder="Current Password" />
                <label for="floatingInput">Current Password</label>
            </div>
            <div class="form-floating mb-3">
                <input type="password" class="form-control new-password" @bind="_newPassword"
                    placeholder="New Password" />
                <label for="floatingPassword">New Password</label>
            </div>
            @if (_successMessage is not null)
            {
                    <AlertMessage Type="success" Message="@_successMessage" />
            }
            else if (_errorMessage is not null)
            {
                    <AlertMessage Type="danger" Message="@_errorMessage" />
            }
            <button class="w-100 btn btn-lg btn-primary" type="submit">
                <span class="oi oi-check"></span> Submit
            </button>
        </form>
    </div>
</div>
