@page "/"
@layout EmptyLayout

@inject Microsoft.AspNetCore.Components.NavigationManager _navigationManager
@inject BikeSparesInventorySystem.Data.Services.AuthService _authService
@inject BikeSparesInventorySystem.Data.Repositories.Repository<User> _userRepository;
@inject BikeSparesInventorySystem.Data.Repositories.Repository<Spare> _spareRepository;
@inject BikeSparesInventorySystem.Data.Repositories.Repository<ActivityLog> _activityLogRepository;

<div class="d-flex justify-content-center align-items-center" style="height: 100vh">
    <MudStack AlignItems="AlignItems.Center">
        <MudIcon Icon="@Icons.Filled.BikeScooter" Color="Color.Primary" Style="font-size:120" />
        <MudProgressLinear Color="Color.Primary" Indeterminate="true" />
    </MudStack>
</div>

