@page "/login"
@layout EmptyLayout

@inject BikeSparesInventorySystem.Data.Services.AuthService _authService
@inject BikeSparesInventorySystem.Data.Repositories.Repository<User> UserRepository
@inject Microsoft.AspNetCore.Components.NavigationManager _navigationManager

@inject ISnackbar SnackBar;

<SeedButton />

<div style="height: calc(100vh - 64px)" class="d-flex justify-content-center align-items-center">
    <MudPaper Class="pa-6" Width="50vh">
        <MudStack Class="mb-4" Row="true" AlignItems="AlignItems.Center" Justify="Justify.Center" Spacing="2">
            <MudIcon Icon="@Icons.Filled.BikeScooter" Color="Color.Primary" Size="Size.Large" />
            <MudText Color="Color.Primary" Typo="Typo.h4" Style="font-weight: bold">Bikare</MudText>
        </MudStack>
        <MudForm @ref="Form">
            <MudTextField T="string" Label="Username" @bind-Value="@Username" InputType="InputType.Text" Required="true" />
            <MudTextField T="string" Label="Password" @bind-Value="@Password" Required="true" InputType="InputType.Password" />
            <MudStack Row="true" Class="mt-6 justify-content-end">
                <MudButton Variant="Variant.Filled" Color="Color.Primary" DisableElevation="true" OnClick="@LoginHandler">Login</MudButton>
            </MudStack>
        </MudForm>
    </MudPaper>
</div>