@page "/login"
@layout EmptyLayout
@inject BikeSparesInventorySystem.Data.Services.AuthService _authService
@inject BikeSparesInventorySystem.Data.Repositories.Repository<User> UserRepository
@inject Microsoft.AspNetCore.Components.NavigationManager _navigationManager
@inject BikeSparesInventorySystem.Data.Services.SeederService _seederService;
@inject ISnackbar SnackBar;

<MudButton OnClick="@SeedData">Seed</MudButton>
<div class="login-body">
    <div class="form-login">
        <form class="text-center" @onsubmit="LoginHandler">
            <img class="mb-4" src="/appicon.png" alt="" height="72">
            <h1 class="h3 mb-3 fw-normal">Please Login</h1>

            <div class="form-floating">
                <input type="text" class="form-control username" @bind="_username" placeholder="Username" required />
                <label for="floatingInput">Username</label>
            </div>
            <div class="form-floating mb-3">
                <input type="password" class="form-control password" @bind="_password" placeholder="Password" required />
                <label for="floatingPassword">Password</label>
            </div>
            <button class="w-100 btn btn-lg btn-primary" type="submit">
                <span class="oi oi-account-login"></span> Login
            </button>
        </form>
    </div>
</div>